@model IEnumerable<BeyondThemes.BeyondAdmin.Models.CustomerOrder>
@using BeyondThemes.BeyondAdmin.Models
@{
    ViewBag.Title = "Orders";
    ViewBag.Description = "Customer Orders";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<table class="table">

    <tr>
        <th>OrderID</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(m => item.OrderID)</th>
            <th>@Html.DisplayFor(m => item.TotalCost)</th>
            <th>@Html.ActionLink("Order Details","Details", new { id = item.OrderID })</th>
        </tr>
    }

</table>


